[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy = "*"
streamlit = {path = "./streamlit-0.76.0-py2.py3-none-any.whl"}
rope = "*"
pylint = "*"

[dev-packages]
rope = "*"

[requires]
python_version = "3.8"
